.Moviecard{
    width: 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: blue;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    margin-left: 10px;
}

.MovieList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

@media (max-width: 500px) {
    .MovieList{
        display: grid;
        grid-template-columns: 1fr 1fr 
        
    }
}